.page-lk {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-lk__layout {
  display: flex;
  flex: 1;
  background-color: var(--header-bg-color);
}

.page-lk__content {
  flex: 1;
  border: 1px solid var(--border-light-color);
  border-left: none;
  border-top: none;
}

.page-lk__wrapper {
  display: flex;
  flex-direction: column;
}

.page-lk__filters {
  margin-bottom: 20px;
}