.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.registration-form__title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-primary-color);
  font-weight: 600;
  text-align: center;
  width: max-content;
}

.form-group {
  margin-bottom: 15px;
}

.registration-form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-light-color);
  border-radius: 6px;
  font-size: 14px;
  color: var(--text-primary-color);
  background-color: var(--header-bg-color);
  transition: border-color 0.2s;
}
.registration-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.registration-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.error {
  color: #CF1322;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.submit-btn {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.submit-btn:hover {
  background-color: var(--accent-hover-color);
}